.footer
	.container-fluid
		.row.text-center
				.col-lg-10.col-md-12
					.row
						.col-xs-12.col-sm-6.col-md-3
							h4= __("Product")
							ul
								li
									a(href="/features")
										p= __("Know more")
								li
									a(href="/download")
										p= __("Download")
								li
									a(href="/love")
										p= __("Wall of love")
								li
									a(href="/pricing")
										p= __("Pricing")
								li
									a(href="/contact")
										p= __("Indicate")
						.col-xs-12.col-sm-6.col-md-3
							h4= __("Company")
							ul
								li
									a(href="/about")
										p= __("About us")
								li
									a(href="/team")
										p= __("Team")
								li
									a(href="http://blog.classapp.com.br")
										p= __("Blog")
								li
									a(href="http://press.classapp.com.br")
										p= __("Press")
								li
									a(href="/brand")
										p= __("Brand")
						.col-xs-12.col-sm-6.col-md-3
							h4= __("Support")
							ul
								li
									a(href="https://classapp.zendesk.com")
										p= __("Help center")
								li
									a(href="/contact")
										p= __("Contact")
								li
									a(href="	http://classapp.com.br/developer/")
										p= __("API")
						.col-xs-12.col-sm-6.col-md-3
							h4= __("Legal")
							ul
								li
									a(href="/terms")
										p= __("Terms of service")
								li
									a(href="/privacy")
										p= __("Privacy policy")
					.col-md-12.text-center
						a(href="?lang=en")=__("English")
						a(href="?lang=es")=__("Español")
						a(href="?lang=pt")=__("Português")
