extends ../layouts/default
block main
	.container
		.row.text-center
			h1=__("Branding")
			h4=__("Our icon is simple and effective, just like our app is. We try to keep it this way so that it blends nicely with our clients' brand.")
			a.btn(href="/brand/ClassApp_logo.zip")=__("Download all the files.")
		.row
			.col-md-6
				img.backsolid(src="/brand/logo_icon_blue.png", width="750px")
				.text-center
					a.btn(href='/brand/logo_icon_blue.eps')=__("EPS")
					a.btn(href='/brand/logo_icon_blue.ai')=__("AI")
					a.btn(href='/brand/logo_icon_blue.svg')=__("SVG")
					a.btn(href='/brand/logo_icon_blue.png')=__("PNG")
					a.btn(href='/brand/logo_icon_blue.jpg')=__("JPG")
			.col-md-6
				img.backsolid(src="/brand/logo_icon_white.png",width="750px")
				.text-center
					a.btn(href='/brand/logo_icon_white.eps')=__("EPS")
					a.btn(href='/brand/logo_icon_white.ai')=__("AI")
					a.btn(href='/brand/logo_icon_white.svg')=__("SVG")
					a.btn(href='/brand/logo_icon_white.png')=__("PNG")
					a.btn(href='/brand/logo_icon_white.jpg')=__("JPG")
			.col-md-6
				img.backsolid(src="/brand/logo_name_blue.png",width="750px")
				.text-center
					a.btn(href='/brand/logo_name_blue.eps')=__("EPS")
					a.btn(href='/brand/logo_name_blue.ai')=__("AI")
					a.btn(href='/brand/logo_name_blue.svg')=__("SVG")
					a.btn(href='/brand/logo_name_blue.png')=__("PNG")
					a.btn(href='/brand/logo_name_blue.jpg')=__("JPG")
			.col-md-6
				img.backsolid(src="/brand/logo_name_white.png",width="750px")
				.text-center
					a.btn(href='/brand/logo_name_white.eps')=__("EPS")
					a.btn(href='/brand/logo_name_white.ai')=__("AI")
					a.btn(href='/brand/logo_name_white.svg')=__("SVG")
					a.btn(href='/brand/logo_name_white.png')=__("PNG")
					a.btn(href='/brand/logo_name_white.jpg')=__("JPG")
			.col-md-6
				img.backsolid(src="/brand/logo_name_blue_vertical.png",width="750px")
				.text-center
						a.btn(href='/brand/logo_name_blue_vertical.eps')=__("EPS")
						a.btn(href='/brand/logo_name_blue_vertical.svg')=__("SVG")
						a.btn(href='/brand/logo_name_blue_vertical.png')=__("PNG")
						a.btn(href='/brand/logo_name_blue_vertical.jpg')=__("JPG")
			.col-md-6
				img.backsolid(src="/brand/logo_name_white_vertical.png",width="750px")
				.text-center
					a.btn(href='/brand/logo_name_white_vertical.eps')=__("EPS")
					a.btn(href='/brand/logo_name_white_vertical.svg')=__("SVG")
					a.btn(href='/brand/logo_name_white_vertical.png')=__("PNG")
					a.btn(href='/brand/logo_name_white_vertical.jpg')=__("JPG")

		.row
			h2=__("Colors")
			p=__("Gray canvas, details in white and accents of ClassApp blue.")
			div(style='background:#1979BB;padding:10px;color:rgba(255,255,255,0.5);border:1px solid rgba(0,0,0,0.1)')
				p=__("ClassApp Blue - #1979BB - CMYK 84,47,2,0 - RGB 25,121,187")
			div(style='background:#fff;padding:10px;color:rgba(0,0,0,0.5);border:1px solid rgba(0,0,0,0.1)')
				p=__("White - #FFFFFF")
			div(style='background:#EEEEEE;padding:10px;color:rgba(0,0,0,0.5);border:1px solid rgba(0,0,0,0.1)')
				p=__("Canvas grey - #EEEEEE")
			div(style='background:#F5F5F5;padding:10px;color:rgba(0,0,0,0.5);border:1px solid rgba(0,0,0,0.1)')
				p=__("Lighter grey - #F5F5F5")
			div(style='background:#B7B7B7;padding:10px;color:rgba(0,0,0,0.5);border:1px solid rgba(0,0,0,0.1)')
				p=__("Darker grey - #B7B7B7")
