extends ../layouts/default.pug
block content
	.container
		.main.logo.text-center
			h1.homebrand BdeB
			h1=__("A new bank for a new world")

		.row.item
			.row-eq-height
				.col-md-6.text-center
					h2=__("Cheap")
					img.home(src='/img/icons/coin.svg')
					h3=__("Why pay taxes to move your money?")
					p=__("With BdeB you pay your accounts, check your balance and manage your finance. Without abusive taxes and with no burocracy.")
					a(href='contact')=__("Talk with us and see how cheap it is!")
				.col-md-6.text-center
					h2=__("Universal")
					img.home(src='/img/icons/globe.svg')
					h3=__("Use your bitcoins anywhere!")
					p=__("Bitcoin is a global cash, accept in thousands of places around the world. And it is the best, without abusive values like your credit card. ")
					a(href='contact')=__("Talk with us and see how universal it is!")
		.row.item
			.row-eq-height
				.col-md-6.text-center
					h2=__("Safety")
					img.home(src='/img/icons/lock.svg')
					h3=__("Every bitcoin is encrypted")
					p=__("All operations involving bitcoins are encrypted and your security is guaranteed by an international community of application developers. ")
					a(href='contact')=__("Talk with us and see how safety it is!")
				.col-md-6.text-center
					h2=__("Intuitive")
					img.home(src='/img/icons/bitcoin.svg')
					h3=__("It is simple to Use")
					p=__("Use bitcoins is so easy as pay with money. And with BdeB it is easier, just scan your BitCode and your transactions are done!")
					a(href='contact')=__("Talk with us and see how intuitive it is!")
		.row.item.text-center
				a.btn.cta(href='contact')=__("Got interested. Talk with us now!")
