extends ../layouts/default.pug
block content
  .container.text-center
    h1=__("Contact")
    form(action="/confirm", method="POST")
      input(type='text',name="name", placeholder=__('Name'), oninvalid=__("setCustomValidity('Please insert your name')"), oninput="setCustomValidity('')",required)
      input(type='text',name="organization", oninvalid=__("setCustomValidity('Please insert your organization')"), oninput="setCustomValidity('')", placeholder=__('Organization'), required)
      input(type='text',name="job", oninvalid=__("setCustomValidity('Please insert your job')"), oninput="setCustomValidity('')", placeholder=__('Job'), required)
      input(type='email', pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$", oninvalid=__("setCustomValidity('Please insert a email in the format mail@mail.com')"), oninput="setCustomValidity('')",name ='email' , placeholder=__("Email"), required)
      .col-xs-3
        include ../includes/country_list.pug
      .col-xs-9
        input(type='tel', onkeypress='return SomenteNumero(event)', placeholder=__('Cell Phone'), oninvalid=__("setCustomValidity('Please insert a phone')"), oninput="setCustomValidity('')",name="phone", required)
      textarea#comment(rows='3', cols='40', name='comment', placeholder=__('Message'), required,oninvalid=__("setCustomValidity('Please type your message')"), oninput="setCustomValidity('')")
      input(type="submit", value=__("Send"))


  script.
    function SomenteNumero(e){
    var tecla=(window.event)?event.keyCode:e.which;
    if((tecla>47 && tecla<58)) return true;
    else{
    if (tecla==13 || tecla==8 || tecla==0) return true;
    else  return false;
    }
    }
